.modal-dialog.menu-modal {
  display: none;
}
@media (max-width: 990px) {
  .modal-body {
    padding: 0 !important;
  }
  .modal-dialog.menu-modal {
    display: block;
    position: fixed;
    top: 11em;
    left: 0;
    width: 25rem;
    margin: 0;
    padding: 0;
  }
  .modal-content.menu-modal-content {
    border: none !important;
    height: calc(100vh - 176px);
  }

  .menu-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-list {
      list-style-type: none;
      padding: 40px 0 0 0;

      li {
        text-decoration: none;
        display: flex;
        font-size: 25px;
        justify-content: space-between;
        align-items: center;
        &:hover {
          background-color: #d6d2d271;
        }
        .fa-arrow-right {
          margin-right: 1em;
        }
        a {
          text-decoration: none;
          color: #000;
          margin: 10px 0 10px 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .menu-footer {
      background-color: #88858534;
      padding: 2rem;
      i {
        font-size: 30px;
        padding-right: 2rem;
      }
    }
  }

  .menu-sub-container {
    width: 100%;
    height: 100%;
    .back-btn {
      display: flex;
      align-items: center;
      font-size: 18px;
      background: none;
      border: none;
      cursor: pointer;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: #d6d2d271;
      }
    }

    .submenu{
      font-size: 25px;
      list-style-type: none;
      padding-inline-start: 0;
      li{
        padding: 10px 0 10px 1.5rem;
        &:hover {
          background-color: #d6d2d271;
        }
      }
    }
  }
}

@media (max-width: 432px) {
  .modal-dialog.menu-modal {
    width: 80vw;
  }
}
